* {
    outline: none;
}

body {
    margin: 0;
    background-image: url("image/%E7%99%BB%E5%85%A5%E8%83%8C%E6%99%AF.jpg");
    background-size: 100vw 100vh;
    text-align: center;
}

img {
    position: absolute;
    top: 20vh;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

form {
    margin-top: 45vh;
}

input {
    width: 50vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    background-repeat:no-repeat;
    background-size: 50px;
    background-position: bottom left;
    font-size: 20px;
    color: white;
    padding-left: 50px;
    padding-bottom: 2px;
    padding-top: 5px;
}

form #account{
    background-image: url("image/input_icon1.PNG");
}
form #password{
    margin-top: 15px;
    background-image: url("image/input_icon2.PNG");
}
form #submitButton{
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #003060;
    font-family: "Microsoft JhengHei";
    transition: 0.5s;
}
form #submitButton:hover {
    background-color: #225c96;
}
